{% include 'AdminPageHeader.html' %}
<head>
    <style>
         #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }





            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>

<!--<h2>View Disease</h2>-->
<!--<table id="cs">-->
<!--    <tr>-->
<!--        <td><h4>SL.No</h4></td>-->

<!--        <td><h4>Name</h4> </td>-->
<!--         <td><h4>Description</h4> </td>-->






<!--    </tr>-->
<!--    {% for row in data %}-->

<!--  <tr>-->
<!--      <td height="87"><div align="center">{{loop.index }}</div></td>-->
<!--      <td><div align="center">{{ row['disease_name'] }}</div></td>-->
<!--      <td><div align="center">{{ row['disease_desc'] }}</div></td>-->
<!-- <td><img height="200" width="200" src="../static/image/{{ row['image_path'] }}" alt="dfgd"></td>-->
<!--       <td width="80"><div align="center" ><a href="/LinkEditDisease?id={{ row['iddisease'] }}">Edit</a></div></td>-->
<!--            <td width="80"><div align="center" ><a href="/DeleteDisease?id={{ row['iddisease'] }}">Delete</a></div></td>-->
<!--         <td width="80"><div align="center" ><a href="/LinkUploadImageDisease?id={{ row['iddisease'] }}">Upload Image</a></div></td>-->

<!--         </tr>-->

<!--        {% endfor %}-->


<!--</table>-->

<div class="container">
  <h2>Disease Information</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>SL.No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Upload Image</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row['disease_name'] }}</td>
        <td>{{ row['disease_desc'] }}</td>
        <td><img height="200" width="200" src="../static/image/{{ row['image_path'] }}" alt="disease image"></td>
        <td><a href="/LinkEditDisease?id={{ row['iddisease'] }}" class="btn btn-sm btn-primary">Edit</a></td>
        <td><a href="/DeleteDisease?id={{ row['iddisease'] }}" class="btn btn-sm btn-danger">Delete</a></td>
        <td><a href="/LinkUploadImageDisease?id={{ row['iddisease'] }}" class="btn btn-sm btn-success">Upload Image</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'LoginFooter.html' %}