{% include 'User/UserPageHeader.html' %}

<!--  <section class="blog_w3ls py-3 pb-5 pt-10" id="test">-->
<!--    <div class="container pb-xl-5 pb-lg-3">-->
<!--      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"> Test Your Plants</h3>-->
<!--      <div class="row" style="justify-content: center;">-->
<!--        <form action="{{ url_for('predict') }}" method="POST" enctype=multipart/form-data>-->
<!--          <div align="center">-->
<!--            <label for="exampleFormControlFile1"><b>Input a file</b></label>-->
<!--            <input type="file" name="file" class="form-control-file" id="inputImage" onchange=previewImage(event)-->
<!--              required>-->
<!--            <br />-->
<!--            <button class="btn btn-primary" type="submit"> Predict </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <img id="output-image" class="rounded mx-auto d-block" />-->
<!--      <br />-->
<!--    </div>-->

<!--  </section>-->
<section class="blog_w3ls py-3 pb-5 pt-10" id="test">
    <div class="container pb-xl-5 pb-lg-3">
      <br>
      <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3"> Test Your Plants</h3><hr>
      <div class="row" style="justify-content: center;">
        <form action="{{ url_for('predict') }}" method="POST" enctype=multipart/form-data>
          <div align="center"><br>
            <label for="exampleFormControlFile1"><b>Input Image</b></label>
            <input type="file" name="file" class="form-control-file" id="inputImage" onchange=previewImage(event)
              required>
            <br />
            <button class="section-btn" type="submit"> Predict </button>
          </div>
        </form>
      </div>
      <br><br>
  <div class="text-center mt-5">
    <img id="output-image" class="img-fluid rounded" style="max-width: 600px; max-height: 600px;">
  </div>
      <br/>
    </div>

  </section>

 {% include 'LoginFooter.html' %}



  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function () {
        var output = document.getElementById('output-image')
        output.src = reader.result;
      }
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
</body>

</html>