{% include 'User/UserPageHeader.html' %}
<head>
    <style>
         #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }





            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>

<!--<h2>View Items</h2>-->
<!--<table id="cs">-->
<!--    <tr>-->
<!--        <td><h4><div align="center">SL.No</div></h4></td>-->
<!--        <td><h4><div align="center">Category</div></h4> </td>-->
<!--        <td><h4><div align="center">Name</div></h4> </td>-->
<!--        <td><h4>Quantity</h4></td>-->
<!--        <td><h4>Price</h4></td>-->
<!--            <td><h4>Qty</h4></td>-->
<!--        <td><h4>Add To Cart</h4></td>-->
<!--    </tr>-->
<!--    {% for row in data %}-->

<!--  <tr>-->
<!--      <form id="form1" name="form1" method="post" action="../add_to_cart?id={{row['idshop_items']}}">-->
<!--      <td height="87"><div align="center">{{loop.index }}</div></td>-->
<!--      <td><div align="center">{{ row['name'] }}</div></td>-->
<!--      <td><div align="center">{{ row['item_name'] }}</div></td>-->
<!--      <td><div align="center">{{ row['quantity'] }}</div></td>-->
<!--      <td><div align="center">{{ row['price'] }}</div></td>-->
<!--       <input type="hidden" value="{{ row['quantity'] }}" name="quantity" >-->
<!--        <input type="hidden" value="{{ row['price'] }}" name="price" >-->
<!--          <input type="hidden" value="{{row['idselling_category']}}" name="idsellcat" >-->
<!--            <td><div align="center"><input type="number" min="1" value="1" name="qty" style="width:5vw;"></div></td>-->
<!--      <td><div align="center"><input type="submit" value="Cart"></div></td>-->
<!--      </form>-->

<!--         </tr>-->

<!--        {% endfor %}-->


<!--</table>-->
<div class="container mt-5">
  <h2>View Items</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SL.No</th>
        <th>Category</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <form id="form1" name="form1" method="post" action="../add_to_cart?id={{row['idshop_items']}}">
        <tr>
          <td>{{loop.index }}</td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['item_name'] }}</td>
          <td>{{ row['quantity'] }}&nbsp;kg</td>
          <td>₹{{ row['price'] }}</td>
          <input type="hidden" value="{{ row['quantity'] }}" name="quantity">
          <input type="hidden" value="{{ row['price'] }}" name="price">
          <input type="hidden" value="{{row['idselling_category']}}" name="idsellcat">
          <td><input type="number" min="1" value="1" name="qty" style="width:5vw;" max="10"></td>
          <td><input type="submit" value="Add to Cart" class="btn btn-success"></td>
        </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'LoginFooter.html' %}